* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(190, 190, 190);
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, [col] 25% ) ;
    grid-template-rows: repeat(2, [row] auto  );
    width: 100%;
  }
  .box {
    border-radius: 5px;
    padding: 20px;
    border-collapse: collapse;
  }
  comic {
    grid-column: col;
    grid-row: row 0;
  }

.todo-container{
    grid-column: col;
    grid-row: row 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.todo{
    width: 500px;
}
.todo-container h2{
    padding: 10px;
    font-family: 'Source Sans Pro';
    font-size: 2em;
}
.todo-header input{
    width: 92%;
    border: none;
    border-radius: 5px;
    height: 20px;
}
.todo-header button{
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(51, 212, 100);
}
.todo-container ul{
    list-style: none;
}
.todo-list-item{
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}
.todo-list-item form{
    width: 100%;
    display: flex;
}
.todo-list-item input{

}
.todo-list-item button{

}
.todo-list-item .cancel{
    
}
.todo-list-item div{
    flex-grow: 2;
}
.todo-list-item .edit{
    color: rgb(143, 233, 58);
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.todo-list-item .remove{
    color: rgb(243, 96, 96);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}

.todo-list-item .strike-through{
    text-decoration: line-through;
}

image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }